.h-10px
{
	height: 10px;
}
.h-20px
{
	height: 20px;
}
.h-30px
{
	height: 30px;
}
.h-40px
{
	height: 40px;
}
.h-50px
{
	height: 70px;
}

.h-60px
{
	height: 60px;
}

.h-70px
{
	height: 70px;
}

.h-80px
{
	height: 80px;
}
.h-90px
{
	height: 90px;
}

.h-100px
{
	height: 100px;
}
.text-10px
{
	font-size: 10px;
}

.text-12px
{
	font-size: 12px;
}

.text-14px
{
	font-size: 14px;
}

.text-16px
{
	font-size: 16px;
}

.text-18px
{
	font-size: 18px;
}

.text-20px
{
	font-size: 20px;
}

.text-22px
{
	font-size: 22px;
}
